.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

/* 

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
} 

.carousel-item{
    z-index: -3;
    height: 25rem;
    /* background: #777; */
}
 */
