.testimonial-section .testimonial-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  background-color: var(--light);
  border: 2px solid #1788ae;
  margin: 0 auto;
  font-size: 2em;
  margin-bottom: 1.5em;
  padding: 0.35em 0.65em;
  border-radius: 8px;
  color: #1788ae;
  z-index: 5;
}

@media (max-width: 650px) {
  .testimonial-section .testimonial-title {
    font-size: 1.5em;
    border: none;
    padding: 0;
    margin-bottom: 0.8em;
  }
}

@media (max-width: 350px) {
  .testimonial-section .testimonial-title {
    font-size: 1.25em;
    border: none;
    padding: 0;
    margin-bottom: 0.8em;
  }
}

.testimonial-section .swiper-container {
  max-width: 1000px;
  margin: 0 auto;
}

.testimonial-section .swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-section .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0 2em;
}

.testimonial-section .swiper-container .swiper-slide .swiper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 10px;
  max-width: 800px;
  z-index: 6;
  width: 80%;
  position: relative;
  background-color: var(--light);
}

.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-image img {
  display: block;
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text {
  text-align: left;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 2.5em;
}

.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text h2,
.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text h5 {
  text-align: right;
  margin: 0;
}

.testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text h5 {
  margin-top: 0.2em;
}

@media (max-width: 750px) {
  .testimonial-section .swiper-container .swiper-slide .swiper-card {
    width: 90%;
    font-size: 0.8em;
  }
}

@media (max-width: 650px) {
  .testimonial-section .swiper-container .swiper-slide .swiper-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em;
  }
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-image img {
    max-width: 200px;
  }
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1em;
  }
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text h2,
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text h5 {
    text-align: center;
  }
  .testimonial-section .swiper-container .swiper-slide .swiper-card .testimonial-text p {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: justify;
  }
}

.testimonial-section .swiper-container .swiper-button-next,
.testimonial-section .swiper-container .swiper-button-prev {
  color: #1788ae;
}

.testimonial-section .swiper-container .swiper-pagination-bullet {
  background-color: #1788ae;
}

@media (max-width: 750px) {
  .testimonial-section .swiper-container .swiper-button-next,
  .testimonial-section .swiper-container .swiper-button-prev {
    display: none;
  }
}